<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="./vue.js"></script>
	<style>

	</style>
</head>
<body>
   <div id="app">
      <ul>
          <li v-for='item in items'>
             {{item.msg}}
          </li>
      </ul>

      <!--  用到索引值的时候使用-->
      <ul>
          <li v-for='(item,index) in items'>
            {{index +"-"+item.msg +"-"+item.age}}
          </li>
      </ul>

       <!-- 仅限于当前使用  一起循环所有的li-->
      <ul>
         <template v-for="item in items">
          <li>
             {{item.msg}}
          </li>
          <li>
             {{item.age}}
          </li>
         </template>
      </ul>
   </div>
<script>
// 构造一个vue实例
    var foo = new Vue({
    	// id选择器
    	el:"#app",
    	// 数据的初始化，数据对象
    	data:{
    		items:[
        {msg:"小明",age:'12'},
        {msg:"小白",age:'13'}
        ]
    	}
    })

</script>
</body>
</html>