@font-face
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1536584990024'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1536584990024#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/iconfont.ttf?t=1536584990024') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
          url('../fonts/iconfont.svg?t=1536584990024#iconfont') format('svg'), /* iOS 4.1- */
          url('../fonts/iconfont.woff?2qevqt') format('woff');
  font-weight: normal
  font-style: normal




.iconfont 
  font-size: 20px
  color: #fff
  font-style: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: "iconfont" 
  speak: none
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1 

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-jia:before { content: "\f0154"; }

.icon-jian:before { content: "\e632"; }